language: php

notifications:
  email:
    on_success: never
    on_failure: change

php:
  - 7.1

env:
  - WP_VERSION=latest WP_MULTISITE=0
  - WP_VERSION=latest WP_MULTISITE=1
  - WP_VERSION=4.7.2 WP_MULTISITE=0
  - WP_VERSION=4.7.2 WP_MULTISITE=1

matrix:
  include:
    - php: 5.3
      env: WP_VERSION=4.4 WP_MULTISITE=0
    - php: 5.3
      env: WP_VERSION=4.4 WP_MULTISITE=1
    - php: 5.3
      env: WP_VERSION=latest WP_MULTISITE=0
    - php: 5.3
      env: WP_VERSION=latest WP_MULTISITE=1

before_script:
  - bash bin/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION
  - php bin/install-dependencies.php
  - export PATH="$HOME/.composer/vendor/bin:$PATH"
  - |
    if [[ ${TRAVIS_PHP_VERSION:0:3} == "7.0" ]]; then
      composer global require "phpunit/phpunit=5.6.*"
    else
      composer global require "phpunit/phpunit=4.8.*"
    fi
  - |
    composer global require wp-coding-standards/wpcs
    phpcs --config-set installed_paths $HOME/.composer/vendor/wp-coding-standards/wpcs

script:
  - phpcs --standard=phpcs.ruleset.xml $(find . -name '*.php')
  - phpunit
